


#main {
  margin-top: 60px;
  padding: 20px 30px;
  transition: all 0.3s;
}

@media (max-width: 1199px) {
  #main {
    padding: 20px;
  }
}
@media (min-width: 1200px) {
  #main,
  #footer {
    margin-left: 300px;
  }
}
@media (min-width: 1200px) {
  .toggle-sidebar #main,
  .toggle-sidebar #footer {
    margin-left: 0;
  }
}

#general-search-container form {
  background: #f8f9fa;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  display: flex;
  align-items: center;
}

#general-search-container .form-control {
  flex: 1;
  margin-right: 12px;
  font-weight: 500;
  border: 1px solid #ccc;
  border-radius: 6px;
}

#general-search-container .form-control::placeholder {
  font-weight: 500;
  color: #999;
}

#search-btn {
  font-weight: bold;
  background-color: #4A4DC4;
  color: #fff;
  border: none;
  border-radius: 6px;
  transition: background-color 0.3s ease;
  padding: 6px 12px;
}

#search-btn:hover {
  background-color: #383bb0;
}

.table-and-chart-holder{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.table {
  border-collapse: collapse;
  background-color: #fff;
  width: 90%;
}

.table thead th {
  background-color: #6364c1;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 12px;
  font-size: 14px; /* Added font size */
}

table.table td,
table.table th {
  padding: 4px 8px; /* Reduce vertical (4px) and horizontal (8px) padding */
  line-height: 1; /* Tighter line spacing */
  font-size: 13px; /* Optional: smaller text */
}


.table td,
.table th {
  text-align: center;
  vertical-align: middle;
  border: 1px solid #dee2e6;
}
