
<div class="login-page">

    
<div *ngIf="showMessageFlag" class="message-box">
  <span class="message-text"> Login Successfull &#10004;</span>
 
  <span (click)="closeMessage()" style="font-size: 1.5em;" class="message-cross">&times;</span>
</div>


  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <h3 class="mb-3">Login Now</h3>
        <div class="bg-white shadow rounded">
          <div class="row">
            <div class="col-md-7 pe-0">
              <div class="form-left h-100 py-5 px-5">
                <form class="row g-4" (ngSubmit)="formSubmit(f)" #f="ngForm">
                  <div class="col-12">
                    <label>User Name<span class="text-danger">*</span></label>
                    <div class="input-group">
                      <div class="input-group-text">
                        <i class="bi bi-person-fill"></i>
                      </div>
                      <input
                        ngModel
                        name="name"
                        type="text"
                        class="form-control"
                        placeholder="Enter User Name"
                        required
                        #name="ngModel"
                      />
                     
                    </div>
                    <br>
                    <div style="color: red;" *ngIf="!name.valid && name.touched" class="error-message">
                      Name Field Can Not Be Empty
                    </div> 
                  </div>

                  <div class="col-12">
                    <label>Password<span class="text-danger">*</span></label>
                    <div class="input-group">
                      <div class="input-group-text">
                        <i class="bi bi-lock-fill"></i>
                      </div>
                      <input
                        ngModel
                        name="password"
                        type="password"
                        class="form-control"
                        placeholder="Enter Password"
                        
                        required
                        #password="ngModel"
                      />
                     
                    </div>
                    <br>
                    <div style="color: red;" *ngIf="!password.valid && password.touched" class="error-message">
                      Password Feald Can Not Be Empty
                    </div>
                  </div>
                  <div class="col-12">
                    <button [disabled]="!f.valid"
                      type="submit"
                      class="btn btn-primary px-4 float-end mt-4"
                    >
                      login
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-md-5 ps-0 d-none d-md-block">
              <div
                class="form-right h-100 bg-primary text-white text-center pt-5"
              >
                <i class="bi bi-bootstrap"></i>
                <h2 class="fs-1">Welcome Back!!!</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>